@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #14233f;
} */

body {
    background-color: #14233f;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#14233f', endColorstr='#291a1d');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #14233f), color-stop(100%, #291a1d));
    background-image: -webkit-linear-gradient(135deg, #14233f, #291a1d);
    background-image: -moz-linear-gradient(45deg, #14233f, #291a1d);
    background-image: -ms-linear-gradient(45deg, #14233f 0, #291a1d 100%);
    background-image: -o-linear-gradient(45deg, #14233f, #291a1d);
    background-image: linear-gradient(135deg, #14233f, #291a1d);
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0.42), rgba(255, 105, 180,0.42));
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    clip-path: circle(30% at 90% 90%);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 191, 255, 0.42), rgba(25, 25, 112, 0.42));
    backdrop-filter: blur(2px);
    clip-path: circle(20% at 10% 10%);
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    padding: 5%;
    flex-wrap: wrap;
    z-index: 20;
    overflow: auto;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.42);
    border-left: 2px solid rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(5px);

    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 0.5s;
}

.container .card .content {
    padding: 20px;
    text-align: center;
    transform-style: preserve-3d;
    transform: translateY(10px);
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .content {
    transform-style: preserve-3d;
    transform: translateZ(30px);
    opacity: 1;
    transition: 0.5s;
}

.container .card .content h2{
    position: absolute;
    top: -120px;
    right: 10px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    transition: 0.5s;
    z-index: 20;
}

.container .card:hover .content h2{
    top: -110px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.069);
    transition: 0.5s;
}

.container .card .content h3{
    font-size: 2em;
    color: white;
    z-index: 30;
    pointer-events: none;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card:hover .content h3{
    z-index: 40;
    transform: translateY(0px);
    transition: 0.5s;
}

.container .card .content p{
    font-size: 1em;
    color: rgba(200, 200, 200, 0);
    z-index: 25;
    font-weight: 300;
    pointer-events: none;
    transition: 0.5s;
}

.container .card:hover .content p{
    color: rgba(200, 200, 200, 1);
    z-index: 50;
    transition: 0.5s;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    font-size: 1em;
    background: white;
    color: rgba(50, 50, 50, 1);
    z-index: 25;
    font-weight: 500;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    transform: translateY(-40px);
    transition: 0.5s;
}

.container .card:hover .content a{
    pointer-events: all;
    transform: translateY(20px);
    transition: 0.5s;
}

.container .card:hover .content a:hover{
    pointer-events: all;
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: rgb(140, 200, 255);

    transform: translateY(20px);
    transition: 0.5s;
}
