@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/*****************************************************************************************************************
***********************************                Scrollbar Effect            ***********************************
*****************************************************************************************************************/

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgb(40, 40, 40, 0.5);
    -webkit-box-shadow: inset 0 0 15px rgba(40, 40, 40, 0.5); 
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    background: rgba(80, 80, 80, 0.8);
    box-shadow: inset 0 0 15px rgb(40, 40, 40, 0.5);
    -webkit-box-shadow: inset 0 0 15px rgb(40, 40, 40, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(40, 40, 40, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #14233f;
} */

body {
    background-color: #14233f;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#14233f', endColorstr='#291a1d');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #14233f), color-stop(100%, #291a1d));
    background-image: -webkit-linear-gradient(135deg, #14233f, #291a1d);
    background-image: -moz-linear-gradient(45deg, #14233f, #291a1d);
    background-image: -ms-linear-gradient(45deg, #14233f 0, #291a1d 100%);
    background-image: -o-linear-gradient(45deg, #14233f, #291a1d);
    background-image: linear-gradient(135deg, #14233f, #291a1d);
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0.42), rgba(255, 105, 180,0.42));
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    clip-path: circle(30% at 90% 90%);
    z-index: 1;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 191, 255, 0.42), rgba(25, 25, 112, 0.42));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    clip-path: circle(20% at 10% 10%);
    z-index: 1;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    flex-wrap: wrap;
    /* z-index: 20; */
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    z-index: 10;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.container .page {
    height: 100vh;
    width: 100vw;
    text-align: left;
    padding: 15%;
}

.text3d {
    color: white;
    text-shadow: 
      0px 1px 0 #696969,
      0px 2px 0 #636363,
      0px 3px 0 #5e5e5e,
      0px 4px 0 #585858,
      0px 5px 0 #525252,
      0px 6px 0 #4e4e4e,
      0px 7px 0 #4b4b4b,
      0px 8px 0 #474747,
      0px 9px 0 #444444,
      0px 10px 0 #3f3f3f, 
      0px 11px 0 #3b3b3b, 
      0px 12px 0 #383838, 
      0px 13px 0 #343434, 
      0px 14px 0 #2f2f2f,
      0px 15px 0 #2a2a2a,
      2px 20px 5px rgba(0, 0, 0, 0.9),
      5px 23px 5px rgba(0, 0, 0, 0.3),
      8px 27px 8px rgba(0, 0, 0, 0.5),
      8px 28px 35px rgba(0, 0, 0, 0.9);
}

.text3d-emoji {
    color: white;
    text-shadow: 
      0px 1px 0 #8a581e,
      0px 2px 0 #80511c,
      0px 3px 0 #754b1b,
      0px 4px 0 #6d461a,
      0px 5px 0 #664219,
      0px 6px 0 #613f18,
      0px 7px 0 #5a3b17,
      0px 8px 0 #533716,
      0px 9px 0 #4d3215,
      0px 10px 0 #472e14, 
      0px 11px 0 #442d13, 
      0px 12px 0 #422c13, 
      0px 13px 0 #3d2912, 
      0px 14px 0 #382611,
      0px 15px 0 #332310,
      2px 20px 5px rgba(0, 0, 0, 0.9),
      5px 23px 5px rgba(0, 0, 0, 0.3),
      8px 27px 8px rgba(0, 0, 0, 0.5),
      8px 28px 35px rgba(0, 0, 0, 0.9);
}

.container .page h1 {
    width: fit-content;
    color: white;
    font-size: 8em;
    display: inline;
}

.container .page h2 {
    width: fit-content;
    color: white;
    font-size: 6em;
}

.container .wrapper {
    position: relative;
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    padding: 10%;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.42);
    border-left: 2px solid rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 0.5s;
}

.container .card .content {
    padding: 20px;
    text-align: center;
    
    transform: translate3d(0px, 10px, 50px);
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .content {
    transform: translate3d(0px, 0px, 50px);
    opacity: 1;
    transition: 0.5s;
}

.container .card .content h1{
    position: absolute;
    top: -120px;
    right: 10px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    transition: 0.5s;
    /* z-index: 20; */
}

.container .card:hover .content h2{
    top: -110px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.069);
    transition: 0.5s;
}

.container .card .content h3{
    font-size: 2em;
    color: white;
    /* z-index: 30; */
    pointer-events: none;
    /* transform: translateY(50px); */
    transform: translate3d(0px, 50px, 100px);
    transition: 0.5s;
}

.container .card:hover .content h3{
    /* z-index: 40; */
    /* transform: translateY(0px); */
    transform: translate3d(0px, 0px, 100px);
    transition: 0.5s;
}

.container .card .content p{
    font-size: 1em;
    color: rgba(200, 200, 200, 0);
    /* z-index: 25; */
    font-weight: 300;
    pointer-events: none;
    transition: 0.5s;
}

.container .card:hover .content p{
    color: rgba(200, 200, 200, 1);
    z-index: 50;
    transition: 0.5s;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    font-size: 1em;
    background: white;
    color: rgba(50, 50, 50, 1);
    /* z-index: 25; */
    font-weight: 500;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    /* transform: translateY(-60px); */
    transform: translate3d(0px, -60px, 20px);
    transition: 0.5s;
}

.container .card:hover .content a{
    pointer-events: all;
    /* transform: translateY(20px); */
    transform: translate3d(0px, 10px, 50px);
    transition: 0.5s;
}

.container .card:hover .content a:hover{
    pointer-events: all;
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: rgb(140, 200, 255);

    /* transform: translateY(0px); */
    transition: 0.5s;
}
